@model EasyEGE.ViewModels.AllTaskViewModel

@{
    ViewData["Title"] = ViewBag.Subject;
}

<div class="text-center">
    <h1 class="display-4">Вы выбрали все задания для - @ViewBag.Subject</h1>
    @if (Model.Problems.Count == 0)
    {
        <h2 class="display-4">К сожалению, задач ещё нет, обратитесь к модератору для добавления задания!</h2>
    }
    else
    {
        for (int i = 0; i < Model.Problems.Count; i++)
        {
            var pictures = Model.Pictures.Where(p => p.ProblemId == Model.Problems[i].Id);
            <div class="text-left border border-primary p-2 mb-2">
                <h4>№@(i + 1) - Задание @Model.Problems[i].Number<br /></h4>
                @{
                    var picturesOfCondition = pictures.Where(p => p.IsSolve == false);
                    foreach (var picture in picturesOfCondition)
                    {
                        <div class="text-center">
                            <img style='max-height: 150px; max-width: 100%; min-height: 60px' src="data:image/jpeg;base64,@(Convert.ToBase64String(picture.Content))" alt="@(picture.Alt)" />
                        </div>
                    }
                }
                <br />
                <button class="themeBtn4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Показать решение
                </button>
                <div class="dropdown-menu">
                    @{
                        var picturesOfSolve = pictures.Where(p => p.IsSolve == true);
                        foreach (var picture in picturesOfSolve)
                        {
                            <div class="text-center">
                                <img style='max-height: 150px; max-width: 100%; min-height: 60px' src="data:image/jpeg;base64,@(Convert.ToBase64String(picture.Content))" alt="@(picture.Alt)" />
                            </div>
                        }
                    }
                </div>
                @if (User.IsInRole("Администратор"))
                {
                    <a asp-controller="Subject" asp-action="Delete" asp-route-id="@Model.Problems[i].Id" class="themeBtn">Удалить задание</a>
                }
                <br />
                <h4>Ответ: @Model.Problems[i].Answer</h4>
            </div>
        }
    }
</div>

